{% macro signature(currentUser, signatureData) %}  
        <p style="color: #221157;font-family: Arial;font-size: 14px;text-align: start;padding: none;margin: 0px;"><b>{{currentUser.firstName}} {{currentUser.name}}</b></p>
        {% if signatureData.poste == "" %}
            <p style="color: #221157;font-family: Arial;font-size: 14px;text-align: start;padding: none;margin: 0px;">{{currentUser.poste}}</p>
        {% else %}
            <p style="color: #221157;font-family: Arial;font-size: 14px;text-align: start;padding: none;margin: 0px;">{{signatureData.poste}}</p>
        {% endif %}
        <p style="color: #221157;font-family: Arial;font-size: 14px;text-align: start;padding: none;margin: 0px;">{{signatureData.entite.name}}</p>                
        {% if signatureData.numStandard %}
            <p style="color: #221157;font-family: Arial;font-size: 14px;text-align: start;padding: none;margin: 0px;">{{signatureData.numStandard}}</p>
        {% endif %}
        {% if signatureData.numPro %}
            <p style="color: #221157;font-family: Arial;font-size: 14px;text-align: start;padding: none;margin: 0px;">{{signatureData.numPro}}</p>
        {% endif %}   

        <br>

        <p style="color: #221157;font-family: Arial;font-size: 14px;text-align: start;padding: none;margin: 0px;">
            {% if signatureData.entite.address|length > 40 %}
                {{ signatureData.entite.address|nl2br }}
            {% else %}
                {{ signatureData.entite.address }}
            {% endif %}
        </p>

        <br>
        <div style="max-width: 700px;">
            <a href="https://{{signatureData.banner.link}}" title="{{signatureData.banner.link}}" target="_blank"><img style="max-height: 30%; max-width: 700px;" src="data:{{ signatureData.banner.mimeType }};base64,{{ signatureData.base64 }}"></a>

            <table style="font-family: Arial; padding-inline: 20px; width:100%; background-color: {{ signatureData.entite.couleur }};">
                <tr>
                    <td style="white-space: nowrap;padding-bottom: 2px; text-align:left;"><a style="text-decoration: none;color: white;font-size: 14px;text-align: start;padding: none;margin: 0px;" href="https://{{signatureData.entite.link}}" target="_blank"><b>{{signatureData.entite.link}}</b></a></td>
                    {# <td style="width: 100%;"></td> #}
                    {% for data in signatureData.footerLinks %}
                        <td style="padding: 3px 3px 0px 3px; height:22px; width:1rem;text-align:left;"><a href="{{ data.link }}" target="_blank" height="16px"><img src="data:image/svg+xml;base64,{{ data.icon }}" alt="" height="16px"></a></td>
                    {% endfor %}
                </tr>
            </table>
        </div>
{% endmacro %}