{% extends "/marketing/base.html.twig" %}

{% block marketing_content %}
    <div class="list">
        <table cellpadding="10px" cellspacing="5px">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Extension</th>
                    <th scope="col">Image</th>
                    <th scope="col">Lien</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Date dernière modif</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% for banner in bannerList %}
                    <tr>
                    <td>{{ banner.id }}</td> 
                    <td>{{ banner.name }}</td>
                    <td>{{ banner.extension }}</td>
                    <td><img src="/banner/{{ banner.id }}.{{banner.extension}}" alt="" width="150px" height="60px"></td>
                    <td>{{ banner.link }}</td>
                    <td>{{ banner.createdAt|format_datetime('short', 'none', locale='fr') }}</td>
                    <td>{{ banner.updatedAt|format_datetime('short', 'none', locale='fr') }}</td>
                    <td>
                        <a class="btn edit-btn" href="/marketing/banner/edit?bannerId={{ banner.id }}">Modifier</a>
                    </td>   
                    <td>
                        <a class="btn delete-btn" href="/marketing/banner/delete?bannerId={{ banner.id }}">Supprimer</a>
                    </td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
        <div class="add">
            <a class="btn add-btn" href="/marketing/banner/add">Ajouter</a>
        </div>
    </div>
{% endblock marketing_content %}