{% extends "base.html.twig" %}

{% block content %}
    <div class="two-col-form">
        <form action="" method="POST">
            <h2>Création de votre profil</h2>
            <div class="col1">
                <div class="input-container">
        
                    {% set login = values.login %}
                    {% set loginHasError = errorList.login ?? false %}
                    
                    <label for="login">Trigramme</label>
                    <input type="text" class="{{ loginHasError ? 'error' : ''}}" value="{{ login }}" id="login" name="login" maxlength="40" required>
                    
                    {% if loginHasError %}
                        <p>{{loginHasError}}</p>
                    {% endif %}
        
                </div>
                <div class="input-container">
        
                    {% set passwordHasError = errorList.password ?? false %}
        
                    <label for="password"> {% if editing == true %} Nouveau{% endif %} Mot de Passe</label>
                    <input type="password" class="{{ passwordHasError ? 'error' : ''}}" value="" id="password" name="password" maxlength="255" required>
                    
                    {% if passwordHasError %}
                        <p>{{passwordHasError}}</p>
                    {% endif %}
        
                </div>
                <div class="input-container">
        
                    {% set passwordConfirmHasError = errorList.passwordConfirm ?? false %}
        
                    <label for="passwordConfirm"> Confirmation Mot de Passe</label>
                    <input type="password" class="{{ passwordConfirmHasError ? 'error' : ''}}" value="" id="passwordConfirm" name="passwordConfirm" maxlength="255" required>
                    
                    {% if passwordConfirmHasError %}
                        <p>{{passwordConfirmHasError}}</p>
                    {% endif %}
        
                </div>
                <div class="input-container">
                    
                    {% set firstName = values.firstName %}
                    {% set firstNameHasError = errorList.firstName ?? false %}
        
                    <label for="firstName">Prénom</label>
                    <input type="text" class="{{ firstNameHasError ? 'error' : ''}}" value="{{ firstName }}" id="firstName" name="firstName" maxlength="40" required>
                    
                    {% if firstNameHasError %}
                        <p>{{firstNameHasError}}</p>
                    {% endif %}
        
                </div>
                <div class="input-container">
                    
                    {% set name = values.name %}
                    {% set nameHasError = errorList.name ?? false %}
        
                    <label for="name">Nom</label>
                    <input type="text" class="{{ nameHasError ? 'error' : ''}}" value="{{ name }}" id="name" name="name" maxlength="40" required>
                    
                    {% if nameHasError %}
                        <p>{{nameHasError}}</p>
                    {% endif %}
        
                </div>
                
            </div>
            <div class="col2">
                <div class="input-container">
                    
                    {% set poste = values.poste %}
                    {% set posteHasError = errorList.poste ?? false %}
        
                    <label for="poste">Poste</label>
                    <input type="text" class="{{ posteHasError ? 'error' : ''}}" value="{{ poste }}" id="poste" name="poste" maxlength="255" required>
                    
                    {% if posteHasError %}
                        <p>{{posteHasError}}</p>
                    {% endif %}
        
                </div>
                <div class="input-container">
                    
                    {% set userEntite = values.entite %}
                    {% set entiteHasError = errorList.entite ?? false %}
            
                    <label for="entite">Entité</label>
                    <select class="{{ entiteHasError ? 'error' : ''}}" value="{{ userEntite }}" id="entite" name="entite" maxlength="255" required>
                        {% for entite in entiteList %}
                            <option value="{{entite.id}}" {% if entite.id == userEntite %}
                                selected
                            {% endif %}>{{entite.name}}</option>
                        {% endfor %}
                    </select>
                    
                    {% if entiteHasError %}
                        <p>{{entiteHasError}}</p>
                    {% endif %}
            
                </div>
                <div class="input-container">
                    
                    {% set email = values.email %}
                    {% set emailHasError = errorList.email ?? false %}
        
                    <label for="email">E-mail</label>
                    <input type="text" class="{{ emailHasError ? 'error' : ''}}" value="{{ email }}" id="email" name="email" maxlength="255" required>
                    
                    {% if emailHasError %}
                        <p>{{emailHasError}}</p>
                    {% endif %}
        
                </div>
                <div class="input-container">
                    
                    {% set numPro = values.numPro %}
                    {% set numProHasError = errorList.numPro ?? false %}
        
                    <label for="numPro">Numéro Tel Pro</label>
                    <input type="text" class="{{ numProHasError ? 'error' : ''}}" value="{{ numPro }}" id="numPro" name="numPro" maxlength="10">
                    
                    {% if numProHasError %}
                        <p>{{numProHasError}}</p>
                    {% endif %}
        
                </div>
                <div  class="btn-container">
                    <input type="hidden" value="{{user.id}}" name="userId">
                    <div class="cancel-btn"><a href="/admin/user">Annuler</a></div>
                    <button type="submit" class="confirm-btn" name="btn" value="confirm">Valider</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}